<!DOCTYPE html>
<!--[if IE 8 ]>
<html class="no-js ie8" lang="en"> <![endif]-->
<!--[if IE 9 ]>
<html class="no-js ie9" lang="en"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!-->
<html class="no-js" lang="en"> <!--<![endif]-->
<head lang="cz">
    <meta charset="UTF-8">
    <meta name="description" content="Hackers Congress Paralelni Polis 2015">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>HCPP15 - Hackers Congress Paralelni Polis 2015</title>

    <link rel="stylesheet" type="text/css" href="/assets/css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="/assets/css/style.css">

    <!--[if lt IE 9]>
    <script src="/assets/bootstrap/js/html5shiv.min.js"></script>
    <script src="/assets/bootstrap/js/respond.min.js"></script>
    <![endif]-->

    <script src="/assets/js/modernizr.custom.js"></script>

    <meta property="og:title" content="Hackers Congress Paralelni Polis 2015" />
    <meta property="og:image" content="http://new.hcpp.cz/assets/images/content/HCPP_Web_Homepage_Picture.jpg?new=true" />
    <meta property="og:url" content="http://new.hcpp.cz" />
    <meta property="og:description" content="2-4 Oct 2015 Prague, Czech Republic" />

</head>
<body class="cssAnimate ct-navbar-isTransparent-toInverse ct-navbar--fixedTop ct-js-navbarMakeSmaller">

<div class="ct-navbarMobile ct-navbarMobile--inverse">
    <a class="navbar-brand" href="index.html"><img src="/assets/images/content/logo.png" alt="Paralelni Polis Logo"> </a>
    <button type="button" class="navbar-toggle">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
    </button>
</div>

<div class="ct-menuMobile">
    <ul class="ct-menuMobile-navbar">
        {% for menu_item in site.data.website_text.main_menu %}
            <li class="onepage">
                <a href="{{menu_item.link}}">
                    {{menu_item.text[page.content_language]}}
                </a>
            </li>
        {% endfor %}
    </ul>
</div>


<div id="ct-js-wrapper" class="ct-pageWrapper">
    <nav class="navbar ct-navbar--transparent ct-navbar--logoright" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <a class="navbar-brand" href=""><!--doplnit odkaz na funkční stránky na IC-->
                    <img src="/assets/images/content/logo.png" alt="Paralelni Polis Logo"></a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse">
                <ul class="nav navbar-nav ct-navbarNav--secundaryActive ct-navbar--fadeIn yamm">
                    {% for menu_item in site.data.website_text.main_menu %}
                        <li class="onepage">
                            <a href="{{menu_item.link}}">
                                {{menu_item.text[page.content_language]}}
                            </a>
                        </li>
                    {% endfor %}
                    <li>
                        {% if page.content_language == "cz" %}
                            <a href="/eng/" class="ct-js-btnScroll">
                                <img src="/assets/images/flags/png/gb.png" alt="English">
                                ENGLISH
                            </a>
                        {% else %}
                            <a href="/" class="ct-js-btnScroll">
                                <img src="/assets/images/flags/png/cz.png" alt="Czech">
                                CZECH
                            </a>
                        {% endif %}
                    </li>
                </ul>
            </div>
        </div>
    <!-- /.container -->
    </nav>


    <section id="section1" class="section ct-mediaSection ct-u-borderMotiveBottom" data-height="100%">
        <div class="flexslider ct-flexslider--controlsVertical ct-flexslider--controlsWhite ct-js-flexslider" data-animations="true" data-height="100%" data-width="100%">
            <ul class="slides">
		<li data-bg="/assets/images/content/HCPP_Web_Homepage_Picture.jpg" style="width:100%; background: center; min-height:">
                    <div class="inner ct-u-paddingBoth100">
                        <div class="container">
                            <div class="row">
                                <div class="col-md-12">
                                    <h3>
                                        <small class="text-uppercase text-center ct-u-colorWhite ct-fw-200">
                                            Hackers congress Paralelní polis 2015
                                        </small>
                                    </h3>
                                    <h1 class="text-uppercase text-center ct-u-colorWhite ct-fw-600">
                                        HCPP15
                                        <small class="ct-fw-400 text-uppercase ct-u-colorWhite">
                                            2 / 3 / 4 / 10 / Praha
                                        </small>
                                    </h1>
                                </div>
                            </div>
                        </div>
                <section class="ct-u-paddingBoth50">
                    <div class="container">
                        <div class="row centered text-center" id="counter"></div>
                    </div>
                </section>
                    </div>
                </li>
            </ul>
        </div>
        <a class="ct-sectionButton ct-js-btnScroll" href="#section2"><span
                class="ct-sectionButton-circle animated pulse activate infinite"><i
                class="fa fa-angle-down animated activate bounce infinite"></i></span>Continue</a>
    </section>


    <section id="section2" class="section">
        <section class="ct-u-paddingBoth80 ct-u-backgroundGray">
            <div class="container">
                <div class="row">
                    <div class="col-md-4">
                        <header class="ct-pageSectionHeader">
                            <h3 class="text-uppercase ct-fw-800">
                                <small class="ct-fw-300 text-uppercase">{{site.data.website_text.below_header.header[page.content_language]}}:</small>
                                Blackout
                            </h3>
                        </header>
                    </div>
                    <div class="col-md-8 ct-fs-i">
                        {% for blackout_item in site.data.website_text.below_header.text %}
                            <p class="{{blackout_item.htmlclass}}">
                                {{blackout_item.[page.content_language]}}
                            </p>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </section>
        <section class="ct-mediaSection ct-u-paddingBoth50 ct-u-backgroundDarkGray3">
            <div class="ct-mediaSection-inner">
                <div class="container">
                    <header class="ct-pageSectionHeader ct-pageSectionHeader--text">
                        <h2 class="text-uppercase text-center ct-fw-300 ct-u-colorWhite">
                            {{site.data.website_text.programme_sections.title[page.content_language]}}
                        </h2>
                    </header>
                </div>
            </div>
        </section>
        <section class="ct-u-paddingBoth70 ct-u-backgroundDarkGray2">
            <div class="ct-mediaSection-inner">
                <div class="container">
                    <div class="row ct-u-borderLeft ct-u-borderRight text-center">
                        {% for programme_item in site.data.website_text.programme_sections.sections %}
                        <div class="col-sm-6 col-md-3">
                            <h4 class="text-uppercase ct-fw-500 ct-u-colorWhite">
                                {{ programme_item.title[page.content_language] }}
                            </h4>
                            <h4 class="text-lowercase ct-fw-200 ct-u-colorWhite">
                                {{ programme_item.content[page.content_language] }}
                                
                            </h4>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </section>
    </section>


    <section id="section3" class="section">
        <header class="ct-pageSectionHeader ct-u-marginTop50 ct-u-marginBottom70 ct-js-wayPoint">
            <h2 class="ct-fw-300 text-uppercase text-center">
                {{site.data.website_text.speakers.title[page.content_language]}}
            </h2>
        </header>
        <div id="ct-gallery" class="ct-gallery ct-gallery--col4 ct-js-magnificPortfolioPopupGroup">

            {% for person in site.data.website_text.speakers.persons %}
                <div class="ct-gallery-item ct-gallery-item--masonry ct-gallery-item--default hidden ct-gallery-item--normal">
                    <div class="ct-gallery-itemInner">
                        {% if page.content_language == "cz" %}
                            <a href="/speakers/{{person.link}}.html">
                        {% else %}
                            <a href="/speakers/eng/{{person.link}}.html">
                        {% endif %}
                            <div class="ct-gallery-itemImage">
                                <img src="/assets/images/speakers/{{person.link}}.jpg" alt="{{person.name}}"/>
                            </div>
                            <div class="ct-gallery-itemDescription">
                                <span class="ct-gallery-itemDescription-title">
                                    {{person.name}}
                                </span>
                                <span class="ct-gallery-itemDescription-category">
                                    {{person.description}}
                                </span>
                            </div>
                        </a>
                    </div>
                </div>
            {% endfor %}

        </div>
    </section>


    <section id="section4" class="section ct-u-paddingBoth40 ct-u-backgroundDarkGray2">
        <div class="container">
            <header class="ct-pageSectionHeader ct-js-wayPoint">
                <h2 class="ct-fw-300 text-uppercase text-center">
                    {{site.data.website_text.schedule.title[page.content_language]}}
                </h2>
            </header>
        </div>
    </section>

    <section class="ct-u-marginBottom70 ct-u-marginTop40">
        <section class=" ct-u-backgroundGray">
            <div class="container">
                <div class="row">
                    <div class="col-sm-4 col-md-4">
                        <div class="ct-iconBox-content text-center">
                            <h3 class="text-uppercase ct-fw-700">
                                {{site.data.website_text.schedule.friday[page.content_language]}}
                            </h3>
                        </div>
                    </div>
                    <div class="col-sm-4 col-md-4">
                        <div class="ct-iconBox-content text-center">
                            <h3 class="text-uppercase ct-fw-700">
                                {{site.data.website_text.schedule.saturday[page.content_language]}}
                            </h3>
                        </div>
                    </div>
                    <div class="col-sm-4 col-md-4">
                        <div class="ct-iconBox-content text-center">
                            <h3 class="text-uppercase ct-fw-700">
                                {{site.data.website_text.schedule.sunday[page.content_language]}}
                            </h3>
                        </div>
                    </div>
                </div>


                <!--program-->
                {% for schedule_item in site.data.website_text.schedule.rows %}
                    <div class="row">

                        <div class="col-sm-4 col-md-4 ct-u-marginBottom20">
                            {% if schedule_item.columnA %}
                                <div class="ct-iconBox-content">
                                    <h4 class="text-uppercase ct-fw-600 text-left">
                                        {{schedule_item.columnA.time}} - {{schedule_item.columnA.title[page.content_language]}}
                                    </h4>
                                    <p>
                                        {{schedule_item.columnA.desc[page.content_language]}}
                                    </p>
                                </div>
                            {% endif %}
                        </div>
                    
                        <div class="col-sm-4 col-md-4 ct-u-marginBottom20">
                            {% if schedule_item.columnB %}
                                <div class="ct-iconBox-content text-left">
                                    <h4 class="text-uppercase ct-fw-600 text-left">
                                        {{schedule_item.columnB.time}} - {{schedule_item.columnB.title[page.content_language]}}
                                    </h4>
                                    <p>
                                        {{schedule_item.columnB.desc[page.content_language]}}
                                    </p>
                                </div>
                            {% endif %}
                        </div>
                    
                        <div class="col-sm-4 col-md-4 ct-u-marginBottom20">
                            {% if schedule_item.columnC %}
                                <div class="ct-iconBox-content text-left">
                                    <h4 class="text-uppercase ct-fw-600 text-left">
                                        {{schedule_item.columnC.time}} - {{schedule_item.columnC.title[page.content_language]}}
                                    </h4>
                                    <p>
                                        {{schedule_item.columnC.desc[page.content_language]}}
                                    </p>
                                </div>
                            {% endif %}
                        </div>
                    

                    </div>
                {% endfor %}

            </div>
        </section>
    </section>


    <section id="section5" class="section">
        <section class="ct-u-backgroundDarkGray2 ct-u-borderBoth ct-u-paddingBoth70">
            <div class="container">
                <div class="row">
                    <div class="col-md-4 ct-u-paddinfTop70">
                        <header class="ct-pageSectionHeader ct-pageSectionHeader--text">
                            <h3 class="text-uppercase ct-fw-400">
                                {{site.data.website_text.ticket.title[page.content_language]}}
                            </h3>
                            <a href="http://tickets.hcpp.cz/" class="btn btn-lg btn-default ct-btn--rounded text-uppercase">{{site.data.website_text.ticket.button[page.content_language]}}</a>
                        </header>
                    </div>
                    <div class="col-md-8 ct-u-paddinfTop70">
                        <div class="">
                            <p>
                                {{site.data.website_text.ticket.text[page.content_language]}}
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </section>


    <section id="section6" class="section">
        <div class="ct-googleMap" data-location="Dělnická 43, Praha" data-zoom="15" data-height="500"></div>
    </section>

    <footer class="ct-u-backgroundDarkGray">
        <div class="ct-footerBottom">
            <div class="container">
                <div class="row">
                    <div class="col-sm-6 text-uppercase">
                        <p><a href="http://paralelnipolis.cz/">Paralelní polis</a></p>
                        <p><a href="http://makerslab.cz/">3D printing - Makers Lab v Paralelní Polis</a></p>
                        <p><a href="http://paperhub.cz/">Paper Hub - coworkingový prostor v Paralelní Polis</a></p>
                        <p><a href="http://www.fashion-stl.cz/">Fashion.stl</a></p>
                    </div>
                    <div class="col-sm-6">
                        <div class="pull-right">
                            <div class="ct-socials">
                                <ul>
                                    <li>
                                        <a href="https://www.facebook.com/vejdiven" data-toggle="tooltip"
                                           data-placement="top" title="Facebook" target="_blank"><i class="fa fa-fw fa-facebook-square"></i></a>
                                    </li>
                                    <li>
                                        <a href="https://twitter.com/paralelni_polis" data-toggle="tooltip" data-placement="top"
                                           title="Twitter" target="_blank"><i class="fa fa-fw fa-twitter"></i></a>
                                    </li>
                                    <li>
                                        <a href="https://www.youtube.com/channel/UCfHJ5Y3akQ7LA0PQmSYlYmQ" data-toggle="tooltip" data-placement="top" title="YouTube" target="_blank"><i
                                                class="fa fa-fw fa-youtube"></i></a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
<!--     <a class="ct-scrollUpButton ct-js-btnScrollUp" href="#"><span class="ct-sectionButton-circle"><i class="fa fa-angle-up"></i></span></a> -->

</div>

<!-- JavaScripts -->

<script src="/assets/js/jquery.min.js"></script>
<script src="/assets/bootstrap/js/bootstrap.min.js"></script>
<script src="/assets/js/jquery.placeholder.min.js"></script>
<script src="/assets/js/jquery.easing.1.3.js"></script>
<script src="/assets/js/device.min.js"></script><script src="/assets/js/jquery.browser.min.js"></script>
<script src="/assets/js/snap.min.js"></script>
<script src="/assets/js/jquery.appear.js"></script>
<script src="/assets/js/waypoints.min.js"></script>
<script src="/assets/js/waypoints-sticky.min.js"></script>

<script src="/assets/js/onepager/jquery.pagescroller.lite.js"></script>
<script src="/assets/js/onepager/init.js"></script>

<script src="/assets/js/main.js"></script>

<script src="/assets/js/ct-mediaSection/jquery.stellar.min.js"></script>
<script src="/assets/js/ct-mediaSection/init.js"></script>

<script src="/assets/js/charts/Chart.min.js"></script>
<script src="/assets/js/charts/init.js"></script>

<script src="/assets/js/flexslider/jquery.flexslider-min.js"></script>
<script src="/assets/js/flexslider/init.js"></script>

<script src="/assets/js/magnific-popup/jquery.magnific-popup.min.js"></script>
<script src="/assets/js/magnific-popup/init.js"></script>

<script src="/assets/js/portfolio/jquery.isotope.min.js"></script>
<script src="/assets/js/portfolio/imagesloaded.js"></script>
<script src="/assets/js/portfolio/init.js"></script>

<script src="/assets/js/counter/jquery.countTo.js"></script>
<script src="/assets/js/counter/init.js"></script>

<script src="/assets/form/js/contact-form.js"></script>




<script src="http://maps.google.com/maps/api/js?sensor=false"></script>
<script src="/assets/js/gmaps/gmap3.min.js"></script>
<script src="/assets/js/gmaps/init.js"></script>

<script src="/assets/js/countdown/jquery.mb-comingsoon.min.js"></script>
<script type="text/javascript">
    $('#counter').mbComingsoon({expiryDate: new Date(2015, 9, 2, 15), speed: 1000});
</script>



</body>
</html>
