<!DOCTYPE html>
<!--[if IE 8 ]>
<html class="no-js ie8" lang="en"> <![endif]-->
<!--[if IE 9 ]>
<html class="no-js ie9" lang="en"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!-->
<html class="no-js" lang="en"> <!--<![endif]-->
<head lang="cz">
    <meta charset="UTF-8">
    <meta name="description" content="Hackers Congress Paralelni Polis 2015">
    <meta name="author" content="TK">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>HCPP15 - Hackers Congress Paralelni Polis 2015</title>

    <link rel="stylesheet" type="text/css" href="/assets/css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="/assets/css/style.css">

    <!--[if lt IE 9]>
    <script src="/assets/bootstrap/js/html5shiv.min.js"></script>
    <script src="/assets/bootstrap/js/respond.min.js"></script>
    <![endif]-->


    <script src="/assets/js/modernizr.custom.js"></script>
</head>
<body class="cssAnimate ct-navbar-isTransparent-toInverse ct-navbar--fixedTop ct-js-navbarMakeSmaller">

<div class="ct-navbarMobile ct-navbarMobile--inverse">
    <a class="navbar-brand" href="index.html"><img src="/assets/images/content/logo.png" alt="Paralelni Polis Logo"> </a>
    <button type="button" class="navbar-toggle">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
    </button>
</div>

<div class="ct-menuMobile">
    <ul class="ct-menuMobile-navbar">
        {% for menu_item in site.data.website_text.main_menu %}
            <li class="onepage">
                <a href="{{menu_item.link}}">
                    {{menu_item.text[page.content_language]}}
                </a>
            </li>
        {% endfor %}
    </ul>
</div>


<div id="ct-js-wrapper" class="ct-pageWrapper">
    <nav class="navbar ct-navbar--transparent ct-navbar--logoright" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <a class="navbar-brand" href=""><!--doplnit odkaz na funkční stránky na IC-->
                    <img src="/assets/images/content/logo.png" alt="Paralelni Polis Logo"></a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse">
                <ul class="nav navbar-nav ct-navbarNav--secundaryActive ct-navbar--fadeIn yamm">
                    {% for menu_item in site.data.website_text.main_menu %}
                        <li class="onepage">
                            <a href="{{menu_item.link}}">
                                {{menu_item.text[page.content_language]}}
                            </a>
                        </li>
                    {% endfor %}
                </ul>
                <ul class="nav navbar-nav ct-navbar--options">
                    <li class="dropdown">
                        <a href="#"><img src="/assets/images/flags/png/cz.png" alt="Česky"><span class="hidden-sm hidden-md"> CZ</span></a>
                        <ul class="dropdown-menu">
                            <li><a href=""><img src="/assets/images/flags/png/cz.png" alt="Česky">Česky</a></li>
                            <!--<li><a href="#"><img src="/assets/images/flags/png/gb.png" alt="English">English</a></li>-->
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    <!-- /.container -->
    </nav>


    <section id="section1" class="section ct-mediaSection ct-u-borderMotiveBottom" data-height="100%">
        <div class="flexslider ct-flexslider--controlsVertical ct-flexslider--controlsWhite ct-js-flexslider" data-animations="true" data-height="100%" data-width="100%">
            <ul class="slides">
                <li data-bg="/assets/images/content/HCPP_Web_Homepage_Picture.jpg" style="width:100%">
                    <div class="inner ct-u-paddingBoth100">
                        <div class="container">
                            <div class="row">
                                <div class="col-md-12">
                                    <h3>
                                        <small class="text-uppercase text-center ct-u-colorWhite ct-fw-200">
                                            Hackers congress Paralelní polis 2015
                                        </small>
                                    </h3>
                                    <h1 class="text-uppercase text-center ct-u-colorWhite ct-fw-600">
                                        HCPP15
                                        <small class="ct-fw-400 text-uppercase ct-u-colorWhite">
                                            2 / 3 / 4 / 10 / Praha
                                        </small>
                                    </h1>
                                </div>
                            </div>
                        </div>
                <section class="ct-u-paddingBoth50">
                    <div class="container">
                        <div class="row centered text-center" id="counter"></div>
                    </div>
                </section>
                    </div>
                </li>
            </ul>
        </div>
        <a class="ct-sectionButton ct-js-btnScroll" href="#section2"><span
                class="ct-sectionButton-circle animated pulse activate infinite"><i
                class="fa fa-angle-down animated activate bounce infinite"></i></span>Continue</a>
    </section>


    <section id="section2" class="section">
        <section class="ct-u-paddingBoth80 ct-u-backgroundGray">
            <div class="container">
                <div class="row">
                    <div class="col-md-4">
                        <header class="ct-pageSectionHeader">
                            <h3 class="text-uppercase ct-fw-800">
                                <small class="ct-fw-300 text-uppercase">{{site.data.website_text.below_header.header[page.content_language]}}:</small>
                                Blackout
                            </h3>
                        </header>
                    </div>
                    <div class="col-md-8 ct-fs-i">
                        {% for blackout_item in site.data.website_text.below_header.text %}
                            <p class="{{blackout_item.htmlclass}}">
                                {{blackout_item.[page.content_language]}}
                            </p>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </section>
        <section class="ct-mediaSection ct-u-paddingBoth50 ct-u-backgroundDarkGray3">
            <div class="ct-mediaSection-inner">
                <div class="container">
                    <header class="ct-pageSectionHeader ct-pageSectionHeader--text">
                        <h2 class="text-uppercase text-center ct-fw-300 ct-u-colorWhite">
                            Programové okruhy
                        </h2>
                    </header>
                </div>
            </div>
        </section>
        <section class="ct-u-paddingBoth70 ct-u-backgroundDarkGray2">
            <div class="ct-mediaSection-inner">
                <div class="container">
                    <div class="row ct-u-borderLeft ct-u-borderRight text-center">
                        <div class="col-sm-6 col-md-3">
                            <h4 class="text-uppercase ct-fw-500 ct-u-colorWhite">
                                POLITICKÉ<br/>
                                UMĚNÍ
                            </h4>
                            <h4 class="text-lowercase ct-fw-200 ct-u-colorWhite">
                                art and hacking<br/><br/><br/>
                            </h4>
                        </div>
                        <div class="col-sm-6 col-md-3">
                            <h4 class="text-uppercase ct-fw-500 ct-u-colorWhite">
                                VĚDA <br/>
                                A TECHNOLOGIE
                            </h4>
                            <h4 class="text-lowercase ct-fw-200 ct-u-colorWhite">
                                3D tisk / drone
                                biohacking / energy
                                cellular
                            </h4>
                        </div>
                        <div class="col-sm-6 col-md-3">
                            <h4 class="text-uppercase ct-fw-500 ct-u-colorWhite">
                                SVOBODA <br/>
                                A KRYPTOANARCHIE
                            </h4>
                            <h4 class="text-lowercase ct-fw-200 ct-u-colorWhite">
                                cryptotechnologies
                                cyber security
                                privacy
                                internet freedom
                            </h4>
                        </div>
                        <div class="col-sm-6 col-md-3">
                            <h4 class="text-uppercase ct-fw-500 ct-u-colorWhite">
                                DECENTRALIZOVANÁ EKONOMIKA <br/>
                                A KRYPTOMĚNY
                            </h4>
                            <h4 class="text-lowercase ct-fw-200 ct-u-colorWhite">
                                bitcoin
                                blockchain
                                peer to peer economy
                            </h4>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </section>


    <section id="section3" class="section">
        <header class="ct-pageSectionHeader ct-u-marginTop50 ct-u-marginBottom70 ct-js-wayPoint">
            <h2 class="ct-fw-300 text-uppercase text-center">
                Hosté kongresu
            </h2>
        </header>
        <div id="ct-gallery" class="ct-gallery ct-gallery--col4 ct-js-magnificPortfolioPopupGroup">
            <div class="ct-gallery-item ct-gallery-item--masonry ct-gallery-item--default hidden ct-gallery-item--normal">
                <div class="ct-gallery-itemInner">
                    <a class="ct-js-magnificPortfolioPopup" href="persons/ulbricht.html">
                        <div class="ct-gallery-itemImage">
                            <img src="/persons/ulbricht.jpg" alt="Lyn ulbricht"/>
                        </div>
                        <div class="ct-gallery-itemDescription">
                            <span class="ct-gallery-itemDescription-title">Lyn Ulbricht (USA)</span>
                            <span class="ct-gallery-itemDescription-category">Freedom advocate and mother of Silk Road founder Ross Ulbricht</span>
                        </div>
                    </a>
                </div>
            </div>
            <div class="ct-gallery-item ct-gallery-item--masonry ct-gallery-item--default hidden ct-gallery-item--normal">
                <div class="ct-gallery-itemInner">
                    <a class="ct-js-magnificPortfolioPopup" href="persons/tempelhof.html">
                        <div class="ct-gallery-itemImage">
                            <img src="/persons/tempelhof.jpg" alt="Susanne Tarkowski Tempelhof"/>
                        </div>
                        <div class="ct-gallery-itemDescription">
                            <span class="ct-gallery-itemDescription-title">Susanne Tarkowski Tempelhof (GB)</span>
                            <span class="ct-gallery-itemDescription-category">BITNATION Founder and CEO</span>
                        </div>
                    </a>
                </div>
            </div>
            <div class="ct-gallery-item ct-gallery-item--masonry ct-gallery-item--default hidden ct-gallery-item--normal">
                <div class="ct-gallery-itemInner">
                    <a class="ct-js-magnificPortfolioPopup" href="persons/palatinus.html">
                        <div class="ct-gallery-itemImage">
                            <img src="/persons/palatinus.jpg" alt="Slush - Marek Palatinus"/>
                        </div>
                        <div class="ct-gallery-itemDescription">
                            <span class="ct-gallery-itemDescription-title">Slush - Marek Palatinus (CZ)</span>
                            <span class="ct-gallery-itemDescription-category">Bitcoin legend, architect in Satoshilabs</span>
                        </div>
                    </a>
                </div>
            </div>
            <div class="ct-gallery-item ct-gallery-item--masonry ct-gallery-item--default hidden ct-gallery-item--normal">
                <div class="ct-gallery-itemInner">
                    <a class="ct-js-magnificPortfolioPopup" href="persons/rosenberg.html">
                        <div class="ct-gallery-itemImage">
                            <img src="/persons/rosenberg.jpg" alt="rosenberg"/>
                        </div>
                        <div class="ct-gallery-itemDescription">
                            <span class="ct-gallery-itemDescription-title">Paul Rosenberg (USA)</span>
                            <span class="ct-gallery-itemDescription-category">founder of Cryptohippie, author of the Free-Man's Perspective</span>
                        </div>
                    </a>
                </div>
            </div>
            <div class="ct-gallery-item ct-gallery-item--masonry ct-gallery-item--default hidden ct-gallery-item--normal">
                <div class="ct-gallery-itemInner">
                    <a class="ct-js-magnificPortfolioPopup" href="persons/kalwies.html">
                        <div class="ct-gallery-itemImage">
                            <img src="/persons/kalwies.jpg" alt="kalwies"/>
                        </div>
                        <div class="ct-gallery-itemDescription">
                            <span class="ct-gallery-itemDescription-title">Jasper Philipp Kalwies (GE)</span>
                            <span class="ct-gallery-itemDescription-category">entrepreneur</span>
                        </div>
                    </a>
                </div>
            </div>
            <div class="ct-gallery-item ct-gallery-item--masonry ct-gallery-item--default hidden ct-gallery-item--normal">
                <div class="ct-gallery-itemInner">
                    <a class="ct-js-magnificPortfolioPopup" href="persons/bitnik.html">
                        <div class="ct-gallery-itemImage">
                            <img src="/persons/bitnik.jpg" alt="bitnik"/>
                        </div>
                        <div class="ct-gallery-itemDescription">
                            <span class="ct-gallery-itemDescription-title">bitnik.org</span>
                            <span class="ct-gallery-itemDescription-category">Art Group Zurich/London</span>
                        </div>
                    </a>
                </div>
            </div>
            <div class="ct-gallery-item ct-gallery-item--masonry ct-gallery-item--default hidden ct-gallery-item--normal">
                <div class="ct-gallery-itemInner">
                    <a class="ct-js-magnificPortfolioPopup" href="persons/paal.html">
                        <div class="ct-gallery-itemImage">
                            <img src="/persons/paal.jpg" alt="paal"/>
                        </div>
                        <div class="ct-gallery-itemDescription">
                            <span class="ct-gallery-itemDescription-title">Michal Paal (SK)</span>
                            <span class="ct-gallery-itemDescription-category">Chief Technology Officer at DIGMIA s.r.o.</span>
                        </div>
                    </a>
                </div>
            </div>
            <div class="ct-gallery-item ct-gallery-item--masonry ct-gallery-item--default hidden ct-gallery-item--normal">
                <div class="ct-gallery-itemInner">
                    <a class="ct-js-magnificPortfolioPopup" href="persons/bednar.html">
                        <div class="ct-gallery-itemImage">
                            <img src="/persons/bednar.jpg" alt="bednar"/>
                        </div>
                        <div class="ct-gallery-itemDescription">
                            <span class="ct-gallery-itemDescription-title">Juraj Bednar (SK)</span>
                            <span class="ct-gallery-itemDescription-category">biohacker, cryptoanarchist, security developer</span>
                        </div>
                    </a>
                </div>
            </div>
            <div class="ct-gallery-item ct-gallery-item--masonry ct-gallery-item--default hidden ct-gallery-item--normal">
                <div class="ct-gallery-itemInner">
                    <a class="ct-js-magnificPortfolioPopup" href="persons/smuggler.html">
                        <div class="ct-gallery-itemImage">
                            <img src="/persons/smuggler.jpg" alt="smuggler"/>
                        </div>
                        <div class="ct-gallery-itemDescription">
                            <span class="ct-gallery-itemDescription-title">Smuggler (?)</span>
                            <span class="ct-gallery-itemDescription-category">A cypherpunk and cryptoanarchist</span>
                        </div>
                    </a>
                </div>
            </div>
            <div class="ct-gallery-item ct-gallery-item--masonry ct-gallery-item--default hidden ct-gallery-item--normal">
                <div class="ct-gallery-itemInner">
                    <a class="ct-js-magnificPortfolioPopup" href="persons/pinkponyexpress.html">
                        <div class="ct-gallery-itemImage">
                            <img src="/persons/pinkponyexpress.jpg" alt="pinkponyexpress"/>
                        </div>
                        <div class="ct-gallery-itemDescription">
                            <span class="ct-gallery-itemDescription-title">Pink Pony Express (NL)</span>
                            <span class="ct-gallery-itemDescription-category">Dívčí umělecká skupina z Amsterdamu</span>
                        </div>
                    </a>
                </div>
            </div>
            <div class="ct-gallery-item ct-gallery-item--masonry ct-gallery-item--default hidden ct-gallery-item--normal">
                <div class="ct-gallery-itemInner">
                    <a class="ct-js-magnificPortfolioPopup" href="persons/braun.html">
                        <div class="ct-gallery-itemImage">
                            <img src="/persons/braun.jpg" alt="braun"/>
                        </div>
                        <div class="ct-gallery-itemDescription">
                            <span class="ct-gallery-itemDescription-title">Frank Braun</span>
                            <span class="ct-gallery-itemDescription-category">Cryptoanarchist and aspiring cypherpunk</span>
                        </div>
                    </a>
                </div>
            </div>
            <div class="ct-gallery-item ct-gallery-item--masonry ct-gallery-item--default hidden ct-gallery-item--normal">
                <div class="ct-gallery-itemInner">
                    <a class="ct-js-magnificPortfolioPopup" href="persons/platzer.html">
                        <div class="ct-gallery-itemImage">
                            <img src="/persons/platzer.jpg" alt="braun"/>
                        </div>
                        <div class="ct-gallery-itemDescription">
                            <span class="ct-gallery-itemDescription-title">Joarg Platzer (GE)</span>
                            <span class="ct-gallery-itemDescription-category">Cryptoanarchist and aspiring cypherpunk</span>
                        </div>
                    </a>
                </div>
            </div>
            <div class="ct-gallery-item ct-gallery-item--masonry ct-gallery-item--default hidden ct-gallery-item--normal">
                <div class="ct-gallery-itemInner">
                    <a class="ct-js-magnificPortfolioPopup" href="persons/poppe.html">
                        <div class="ct-gallery-itemImage">
                            <img src="/persons/poppe.jpg" alt="poppe"/>
                        </div>
                        <div class="ct-gallery-itemDescription">
                            <span class="ct-gallery-itemDescription-title">Inne Poppe (NL)</span>
                            <span class="ct-gallery-itemDescription-category">umělkyně, publicistka, vedoucí ateliéru hackingu na WDK Rotterdam</span>
                        </div>
                    </a>
                </div>
            </div>
            <div class="ct-gallery-item ct-gallery-item--masonry ct-gallery-item--default hidden ct-gallery-item--normal">
                <div class="ct-gallery-itemInner">
                    <a class="ct-js-magnificPortfolioPopup" href="persons/marsiske.html">
                        <div class="ct-gallery-itemImage">
                            <img src="/persons/marsiske.png" alt="marsiske"/>
                        </div>
                        <div class="ct-gallery-itemDescription">
                                <span class="ct-gallery-itemDescription-title">Stefan Marsiske (HU)</span>
                            <span class="ct-gallery-itemDescription-category">Free software developer and evangelist</span>
                        </div>
                    </a>
                </div>
            </div>
            <div class="ct-gallery-item ct-gallery-item--masonry ct-gallery-item--default hidden ct-gallery-item--normal">
                <div class="ct-gallery-itemInner">
                    <a class="ct-js-magnificPortfolioPopup" href="persons/materna.html">
                        <div class="ct-gallery-itemImage">
                            <img src="/persons/materna.jpg" alt="materna"/>
                        </div>
                        <div class="ct-gallery-itemDescription">
                            <span class="ct-gallery-itemDescription-title">Jiří Materna (CZ)</span>
                            <span class="ct-gallery-itemDescription-category">šéf výzkumu v Seznam.cz</span>
                        </div>
                    </a>
                </div>
            </div>
            <div class="ct-gallery-item ct-gallery-item--masonry ct-gallery-item--default hidden ct-gallery-item--normal">
                <div class="ct-gallery-itemInner">
                    <a class="ct-js-magnificPortfolioPopup" href="persons/jech.html">
                        <div class="ct-gallery-itemImage">
                            <img src="/persons/jech.jpg" alt="jech"/>
                        </div>
                        <div class="ct-gallery-itemDescription">
                            <span class="ct-gallery-itemDescription-title">Adam Jech (CZ)</span>
                            <span class="ct-gallery-itemDescription-category">Cofounder of MakersLab, graphic designer</span>
                        </div>
                    </a>
                </div>
            </div>
            <div class="ct-gallery-item ct-gallery-item--masonry ct-gallery-item--default hidden ct-gallery-item--normal">
                <div class="ct-gallery-itemInner">
                    <a class="ct-js-magnificPortfolioPopup" href="persons/jansa.html">
                        <div class="ct-gallery-itemImage">
                            <img src="/persons/jansa.jpg" alt="jansa"/>
                        </div>
                        <div class="ct-gallery-itemDescription">
                            <span class="ct-gallery-itemDescription-title">Janez Jansa</span>
                            <span class="ct-gallery-itemDescription-category"></span>
                        </div>
                    </a>
                </div>
            </div>
            <div class="ct-gallery-item ct-gallery-item--masonry ct-gallery-item--default hidden ct-gallery-item--normal">
                <div class="ct-gallery-itemInner">
                    <a class="ct-js-magnificPortfolioPopup" href="persons/marada.html">
                        <div class="ct-gallery-itemImage">
                            <img src="/persons/marada.jpg" alt="marada"/>
                        </div>
                        <div class="ct-gallery-itemDescription">
                            <span class="ct-gallery-itemDescription-title">Tomáš Marada(CZ)</span>
                            <span class="ct-gallery-itemDescription-category">Tajemník Karla Janečka</span>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </section>


    <section id="section4" class="section ct-u-paddingBoth40 ct-u-backgroundDarkGray2">
        <div class="container">
            <header class="ct-pageSectionHeader ct-js-wayPoint">
                <h2 class="ct-fw-300 text-uppercase text-center">
                    {{site.data.website_text.schedule.title[page.content_language]}}
                </h2>
            </header>
        </div>
    </section>

    <section class="ct-u-marginBottom70 ct-u-marginTop40">
        <section class=" ct-u-backgroundGray">
            <div class="container">
                <div class="row">
                    <div class="col-sm-4 col-md-4">
                        <div class="ct-iconBox-content text-center">
                            <h3 class="text-uppercase ct-fw-700">
                                pátek
                            </h3>
                        </div>
                    </div>
                    <div class="col-sm-4 col-md-4">
                        <div class="ct-iconBox-content text-center">
                            <h3 class="text-uppercase ct-fw-700">
                                sobota
                            </h3>
                        </div>
                    </div>
                    <div class="col-sm-4 col-md-4">
                        <div class="ct-iconBox-content text-center">
                            <h3 class="text-uppercase ct-fw-700">
                                neděle
                            </h3>
                        </div>
                    </div>
                </div>


                <!--program-->
                {% for schedule_item in site.data.website_text.schedule.rows %}
                    <div class="row">

                        <div class="col-sm-4 col-md-4 ct-u-marginBottom20">
                            {% if schedule_item.columnA %}
                                <div class="ct-iconBox-content">
                                    <h4 class="text-uppercase ct-fw-600 text-left">
                                        {{schedule_item.columnA.time}} - {{schedule_item.columnA.title[page.content_language]}}
                                    </h4>
                                    <p>
                                        {{schedule_item.columnA.desc[page.content_language]}}
                                    </p>
                                </div>
                            {% endif %}
                        </div>
                    
                        <div class="col-sm-4 col-md-4 ct-u-marginBottom20">
                            {% if schedule_item.columnB %}
                                <div class="ct-iconBox-content text-left">
                                    <h4 class="text-uppercase ct-fw-600 text-left">
                                        {{schedule_item.columnB.time}} - {{schedule_item.columnB.title[page.content_language]}}
                                    </h4>
                                    <p>
                                        {{schedule_item.columnB.desc[page.content_language]}}
                                    </p>
                                </div>
                            {% endif %}
                        </div>
                    
                        <div class="col-sm-4 col-md-4 ct-u-marginBottom20">
                            {% if schedule_item.columnC %}
                                <div class="ct-iconBox-content text-left">
                                    <h4 class="text-uppercase ct-fw-600 text-left">
                                        {{schedule_item.columnC.time}} - {{schedule_item.columnC.title[page.content_language]}}
                                    </h4>
                                    <p>
                                        {{schedule_item.columnC.desc[page.content_language]}}
                                    </p>
                                </div>
                            {% endif %}
                        </div>
                    

                    </div>
                {% endfor %}

            </div>
        </section>
    </section>


    <section id="section5" class="section">
        <section class="ct-u-backgroundDarkGray2 ct-u-borderBoth ct-u-paddingBoth70">
            <div class="container">
                <div class="row">
                    <div class="col-md-4 ct-u-paddinfTop70">
                        <header class="ct-pageSectionHeader ct-pageSectionHeader--text">
                            <h3 class="text-uppercase ct-fw-400">
                                Vstupenka 500 Kč
                            </h3>
                            <a href="tickets.html" class="btn btn-lg btn-default ct-btn--rounded text-uppercase">Koupit</a>
                        </header>
                    </div>
                    <div class="col-md-8 ct-u-paddinfTop70">
                        <div class="">
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eius-
                                mod tempor incididunt ut labore et dolore magna aliqua. Ut enim
                                ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
                                aliquip ex ea commodo consequat. Duis aute irure dolor in repre-
                                henderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </section>


    <section id="section6" class="section">
        <div class="ct-googleMap" data-location="Dělnická 43, Praha" data-zoom="15" data-height="500"></div>
    </section>

    <footer class="ct-u-backgroundDarkGray">
        <div class="ct-footerBottom">
            <div class="container">
                <div class="row">
                    <div class="col-sm-6 text-uppercase">
                        <p><a href="http://paralelnipolis.cz/">Paralelní polis</a></p>
                        <p><a href="http://makerslab.cz/">3D printing - Makers Lab v Paralelní Polis</a></p>
                        <p><a href="http://paperhub.cz/">Paper Hub - coworking space v Paralelní Polis</a></p>
                        <p><a href="http://www.fashion-stl.cz/">Fashion.stl</a></p>
                    </div>
                    <div class="col-sm-6">
                        <div class="pull-right">
                            <div class="ct-socials">
                                <ul>
                                    <li>
                                        <a href="https://www.facebook.com/vejdiven" data-toggle="tooltip"
                                           data-placement="top" title="Facebook"><i class="fa fa-fw fa-facebook-square"></i></a>
                                    </li>
                                    <li>
                                        <a href="https://twitter.com/paralelni_polis" data-toggle="tooltip" data-placement="top"
                                           title="Twitter"><i class="fa fa-fw fa-twitter"></i></a>
                                    </li>
                                    <li>
                                        <a href="https://www.youtube.com/channel/UCfHJ5Y3akQ7LA0PQmSYlYmQ" data-toggle="tooltip" data-placement="top" title="YouTube"><i
                                                class="fa fa-fw fa-youtube"></i></a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
<!--     <a class="ct-scrollUpButton ct-js-btnScrollUp" href="#"><span class="ct-sectionButton-circle"><i class="fa fa-angle-up"></i></span></a> -->

</div>

<!-- JavaScripts -->

<script src="/assets/js/jquery.min.js"></script>
<script src="/assets/bootstrap/js/bootstrap.min.js"></script>
<script src="/assets/js/jquery.placeholder.min.js"></script>
<script src="/assets/js/jquery.easing.1.3.js"></script>
<script src="/assets/js/device.min.js"></script><script src="/assets/js/jquery.browser.min.js"></script>
<script src="/assets/js/snap.min.js"></script>
<script src="/assets/js/jquery.appear.js"></script>
<script src="/assets/js/waypoints.min.js"></script>
<script src="/assets/js/waypoints-sticky.min.js"></script>

<script src="/assets/js/onepager/jquery.pagescroller.lite.js"></script>
<script src="/assets/js/onepager/init.js"></script>

<script src="/assets/js/main.js"></script>

<script src="/assets/js/ct-mediaSection/jquery.stellar.min.js"></script>
<script src="/assets/js/ct-mediaSection/init.js"></script>

<script src="/assets/js/charts/Chart.min.js"></script>
<script src="/assets/js/charts/init.js"></script>

<script src="/assets/js/flexslider/jquery.flexslider-min.js"></script>
<script src="/assets/js/flexslider/init.js"></script>

<script src="/assets/js/magnific-popup/jquery.magnific-popup.min.js"></script>
<script src="/assets/js/magnific-popup/init.js"></script>

<script src="/assets/js/portfolio/jquery.isotope.min.js"></script>
<script src="/assets/js/portfolio/imagesloaded.js"></script>
<script src="/assets/js/portfolio/init.js"></script>

<script src="/assets/js/counter/jquery.countTo.js"></script>
<script src="/assets/js/counter/init.js"></script>

<script src="/assets/form/js/contact-form.js"></script>




<script src="http://maps.google.com/maps/api/js?sensor=false"></script>
<script src="/assets/js/gmaps/gmap3.min.js"></script>
<script src="/assets/js/gmaps/init.js"></script>

<script src="/assets/js/countdown/jquery.mb-comingsoon.min.js"></script>
<script type="text/javascript">
    $('#counter').mbComingsoon({expiryDate: new Date(2015, 9, 2, 15), speed: 1000});
</script>



</body>
</html>